[submodule "larlite"]
	path = larlite
	url = https://github.com/larlight/larlite
[submodule "LArCV"]
	path = LArCV
	url = https://github.com/larbys/larcv
[submodule "larlitecv"]
	path = larlitecv
	url = https://github.com/larbys/larlitecv
